{% extends "default.html" %}
{% block title %}Add a Video to a Playlist{% endblock %}
{% block header %}Select a video and add it to a playlist:{% endblock %}
{% block content %}
    <form method="POST" action="do_add_video_to_playlist">
    <table class="data_entry_form">
        <tr><th><label>Video:</label></th><td>
            {% set select_name = "video" %}
            {% include "select_video.html" %}
        </td></tr>
        <tr><th><label>Playlist:</label></th><td>
            {% set select_name = "playlist" %}
            {% include "select_playlist.html" %}
        </td></tr>
        <tr><th colspan="2"><button type="submit">ADD</button></th></tr>
    </table>
    </form>
{% endblock %}